--- arch/arm/mach-ux500/Kconfig
+++ arch/arm/mach-ux500/Kconfig
@@ -6,6 +6,8 @@
 	select ARM_GIC
 	select HAS_MTU
 	select ARM_ERRATA_753970
+	select ARM_ERRATA_754322
+	select ARM_ERRATA_764369
 
 menu "Ux500 SoC"
 
